In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

# Predicting Outcomes of Basketball Games

$\texttt{Spencer Ashton}\\$
$\texttt{Trevor Wai}\\$
$\texttt{Carson Watkin}\\$
$\texttt{Zach Joachim}\\$

### December 5, 2023

# **1 Introduction**
Why do we care about this? Allowing players and coaches to focus on drills and metrics that will more likely lead to winning during practice and make adjustments during games.

# **2 Data**

### 2.1 Box scores. 
We got our data by scraping basketballreference.com.  This website contains the box scores from every game sorted by team and season. WHAT IS A BOX SCORE? We had to combine the box scores from every team in a given season into one big dataframe representing each game played in a season. Another thing we considered: do we compare across seasons or just within a given season? We talk about this more LATER.



### 2.2 Data cleaning.
Talking about the cleaning from above. One challenge we ran into was that this approach included each game twice; once from each participating teams' dataset. We employed SOME TACTIC TO DEAL WITH THAT... Below, we show the process of cleaning the data.

In [46]:
team_data = pd.read_csv('./NBA/Utah Jazz/UTA_2018_team_game_log.csv', index_col=1)
team_data.drop('Unnamed: 0', axis=1, inplace=True)
team_data.fillna(value={'H/A': 'vs'}, inplace=True)
team_data.dropna(inplace=True)
team_data.rename(columns={'Tm': 'Team Score', 'Opp.1': 'Opp Score'}, inplace=True)
team_data["FG_cum"] = team_data["FG"].cumsum()
team_data["3P_cum"] = team_data["3P"].cumsum()
team_data["FGA_cum"] = team_data["FGA"].cumsum()
team_data['TOV_cum'] = team_data['TOV'].cumsum()
team_data['FTA_cum'] = team_data['FTA'].cumsum()
team_data['ORB_cum'] = team_data['ORB'].cumsum()
team_data['TRB_cum'] = team_data['TRB'].cumsum()
team_data['FT_cum'] = team_data['FT'].cumsum()
team_data.head()

,Date,H/A,Opp,W/L,Team Score,Opp Score,FG,FGA,FG%,3P,...,TOV,PF,FG_cum,3P_cum,FGA_cum,TOV_cum,FTA_cum,ORB_cum,TRB_cum,FT_cum
G,,,,,,,,,,,,,,,,,,,,,
1.0,2017-10-18,vs,DEN,W,106.0,96.0,41.0,81.0,0.506,9.0,...,15.0,18.0,41.0,9.0,81.0,15.0,16.0,6.0,36.0,15.0
2.0,2017-10-20,@,MIN,L,97.0,100.0,37.0,77.0,0.481,9.0,...,19.0,21.0,78.0,18.0,158.0,34.0,33.0,13.0,74.0,29.0
3.0,2017-10-21,vs,OKC,W,96.0,87.0,38.0,77.0,0.494,9.0,...,18.0,21.0,116.0,27.0,235.0,52.0,47.0,20.0,115.0,40.0
4.0,2017-10-24,@,LAC,L,84.0,102.0,34.0,79.0,0.430,7.0,...,18.0,23.0,150.0,34.0,314.0,70.0,58.0,28.0,156.0,49.0
5.0,2017-10-25,@,PHO,L,88.0,97.0,32.0,77.0,0.416,6.0,...,23.0,19.0,182.0,40.0,391.0,93.0,83.0,35.0,200.0,67.0

In [47]:
opp_data = pd.read_csv('./NBA/Utah Jazz/UTA_2018_opp_game_log.csv', index_col=1)
opp_data.drop('Unnamed: 0', axis=1, inplace=True)
opp_data.fillna(value={'H/A': 'vs'}, inplace=True)
opp_data.dropna(inplace=True)
opp_data.rename(columns={'Tm': 'Team Score', 'Opp.1': 'Opp Score'}, inplace=True)
opp_data["FG_cum"] = opp_data["FG"].cumsum()
opp_data["3P_cum"] = opp_data["3P"].cumsum()
opp_data["FGA_cum"] = opp_data["FGA"].cumsum()
opp_data['TOV_cum'] = opp_data['TOV'].cumsum()
opp_data['FTA_cum'] = opp_data['FTA'].cumsum()
opp_data['ORB_cum'] = opp_data['ORB'].cumsum()
opp_data['TRB_cum'] = opp_data['TRB'].cumsum()
opp_data['FT_cum'] = opp_data['FT'].cumsum()
opp_data.head()

,Date,H/A,Opp,W/L,Team Score,Opp Score,FG,FGA,FG%,3P,...,TOV,PF,FG_cum,3P_cum,FGA_cum,TOV_cum,FTA_cum,ORB_cum,TRB_cum,FT_cum
G,,,,,,,,,,,,,,,,,,,,,
1.0,2017-10-18,vs,DEN,W,106.0,96.0,36.0,77.0,0.468,13.0,...,20.0,18.0,36.0,13.0,77.0,20.0,12.0,7.0,38.0,11.0
2.0,2017-10-20,@,MIN,L,97.0,100.0,36.0,81.0,0.444,7.0,...,15.0,17.0,72.0,20.0,158.0,35.0,38.0,17.0,82.0,32.0
3.0,2017-10-21,vs,OKC,W,96.0,87.0,32.0,78.0,0.410,11.0,...,17.0,16.0,104.0,31.0,236.0,52.0,57.0,25.0,120.0,44.0
4.0,2017-10-24,@,LAC,L,84.0,102.0,39.0,83.0,0.470,10.0,...,13.0,16.0,143.0,41.0,319.0,65.0,78.0,36.0,164.0,58.0
5.0,2017-10-25,@,PHO,L,88.0,97.0,42.0,96.0,0.438,6.0,...,16.0,25.0,185.0,47.0,415.0,81.0,87.0,52.0,219.0,65.0

### 2.3 Feature engineering
Obviously a good model would just look at total points scored. We had to engineer it.  Blah blah blah. Taking out the points from the box scores. Also talking about four factors from SOURCE.

In [51]:
team_four_factors = pd.DataFrame({'Date':[],
                                  'H/A':[],
                                  'eFG%':[],
                                  'TOV%':[],
                                  'ORB%':[],
                                  'FTR':[],
                                  'Score':[]})

team_four_factors['Date'] = team_data['Date']
team_four_factors['H/A'] = team_data['H/A']
team_four_factors["eFG%"] = (team_data['FG_cum'] + 0.5 * team_data['3P_cum']) / team_data['FGA_cum']
team_four_factors['TOV%'] = team_data['TOV_cum'] / (team_data['FGA_cum'] + 0.44 * team_data['FTA_cum'] + team_data['TOV_cum'])
team_four_factors['ORB%'] = team_data['ORB'] / (team_data['ORB_cum'] + (opp_data['TRB_cum'] - opp_data['ORB_cum']))
team_four_factors['FTR'] = team_data['FT_cum'] / team_data['FGA_cum']
team_four_factors['Score'] = team_data['Team Score']
team_four_factors.set_index('Date', inplace=True)
team_four_factors.loc[team_four_factors['H/A'] == '@', 'H/A'] = 0
team_four_factors.loc[team_four_factors['H/A'] == 'vs', 'H/A'] = 1
# team_four_factors.drop(team_four_factors['H/A'] == 0, 'H/A')
team_four_factors.head()

           H/A      eFG%      TOV%      ORB%       FTR  Score
Date
2017-10-18   1  0.561728  0.145575  0.162162  0.185185  106.0
2017-10-20   0  0.550633  0.164633  0.089744  0.183544   97.0
2017-10-21   1  0.551064  0.169007  0.060870  0.170213   96.0
2017-10-24   0  0.531847  0.170932  0.051282  0.156051   84.0
2017-10-25   0  0.516624  0.178667  0.034653  0.171355   88.0

In [39]:
opp_four_factors = pd.DataFrame({'Team':[],
                                 'Date':[],
                                 'eFG%':[],
                                 'TOV%':[],
                                 'ORB%':[],
                                 'FTR':[],})

opp_four_factors['Team'] = opp_data['Opp']
opp_four_factors['Date'] = opp_data['Date']
opp_four_factors['eFG%'] = (opp_data['FG_cum'] + 0.5 * opp_data['3P_cum']) / opp_data['FGA_cum']
opp_four_factors['TOV%'] = opp_data['TOV_cum'] / (opp_data['FGA_cum'] + 0.44 * opp_data['FTA_cum'] + opp_data['TOV_cum'])
opp_four_factors['ORB%'] = opp_data['ORB_cum'] / (opp_data['ORB_cum'] + (team_data['TRB_cum'] - team_data['ORB_cum']))
opp_four_factors['FTR'] = opp_data['FT_cum'] / opp_data['FGA_cum']
opp_four_factors['Score'] = opp_data['Opp Score']
opp_four_factors.set_index('Date', inplace=True)
opp_four_factors.head()

           Team      eFG%      TOV%      ORB%       FTR  Score
Date
2017-10-18  DEN  0.551948  0.195542  0.189189  0.142857   96.0
2017-10-20  MIN  0.518987  0.166889  0.217949  0.202532  100.0
2017-10-21  OKC  0.506356  0.166092  0.208333  0.186441   87.0
2017-10-24  LAC  0.512539  0.155383  0.219512  0.181818  102.0
2017-10-25  PHO  0.502410  0.151606  0.239631  0.156627   97.0

In [64]:
result = team_four_factors.join(opp_four_factors, rsuffix='_opp', on='Date')
result.head()

,H/A,eFG%,TOV%,ORB%,FTR,Score,Team,eFG%_opp,TOV%_opp,ORB%_opp,FTR_opp,Score_opp
Date,,,,,,,,,,,,
2017-10-18,1,0.561728,0.145575,0.162162,0.185185,106.0,DEN,0.551948,0.195542,0.189189,0.142857,96.0
2017-10-20,0,0.550633,0.164633,0.089744,0.183544,97.0,MIN,0.518987,0.166889,0.217949,0.202532,100.0
2017-10-21,1,0.551064,0.169007,0.060870,0.170213,96.0,OKC,0.506356,0.166092,0.208333,0.186441,87.0
2017-10-24,0,0.531847,0.170932,0.051282,0.156051,84.0,LAC,0.512539,0.155383,0.219512,0.181818,102.0
2017-10-25,0,0.516624,0.178667,0.034653,0.171355,88.0,PHO,0.502410,0.151606,0.239631,0.156627,97.0

In [65]:
result = result[result['H/A'] != 0]

In [68]:
result

,H/A,eFG%,TOV%,ORB%,FTR,Score,Team,eFG%_opp,TOV%_opp,ORB%_opp,FTR_opp,Score_opp
Date,,,,,,,,,,,,
2017-10-18,1,0.561728,0.145575,0.162162,0.185185,106.0,DEN,0.551948,0.195542,0.189189,0.142857,96.0
2017-10-21,1,0.551064,0.169007,0.060870,0.170213,96.0,OKC,0.506356,0.166092,0.208333,0.186441,87.0
2017-10-28,1,0.522340,0.182039,0.058091,0.161702,96.0,LAL,0.487903,0.151544,0.248120,0.159274,81.0
2017-10-30,1,0.529038,0.175863,0.021429,0.159710,104.0,DAL,0.493007,0.162434,0.246711,0.153846,89.0
2017-11-01,1,0.517941,0.167516,0.030120,0.185647,112.0,POR,0.486466,0.159206,0.238889,0.162406,103.0
2017-11-03,1,0.514563,0.162945,0.026596,0.195562,100.0,TOR,0.498641,0.159400,0.234536,0.176630,109.0
2017-11-07,1,0.495595,0.151362,0.028986,0.209251,97.0,PHI,0.519488,0.164352,0.227571,0.191537,104.0
2017-11-10,1,0.486253,0.152727,0.007576,0.212831,74.0,MIA,0.514359,0.165834,0.222000,0.190769,84.0
2017-11-11,1,0.491097,0.151939,0.021016,0.215558,114.0,BRK,0.513796,0.164932,0.223247,0.204567,106.0
2017-11-13,1,0.493484,0.151423,0.013029,0.208514,98.0,MIN,0.518717,0.164076,0.221053,0.213904,109.0
2017-11-22,1,0.501267,0.141496,0.009490,0.204689,110.0,CHI,0.515023,0.157600,0.219355,0.210973,80.0
2017-11-25,1,0.509946,0.139594,0.005682,0.201326,121.0,MIL,0.518346,0.157483,0.220297,0.212065,108.0
2017-11-28,1,0.512600,0.138149,0.009793,0.195876,106.0,DEN,0.513049,0.157898,0.222482,0.210558,77.0
2017-12-01,1,0.522182,0.134622,0.008008,0.193633,114.0,NOP,0.519533,0.156470,0.221267,0.208899,108.0
2017-12-04,1,0.527861,0.135624,0.009728,0.193273,116.0,WAS,0.510920,0.155241,0.221320,0.210088,69.0
2017-12-07,1,0.526304,0.136004,0.003594,0.196462,101.0,HOU,0.513429,0.155602,0.224740,0.211031,112.0
2017-12-21,1,0.523187,0.135029,0.003554,0.193228,100.0,SAS,0.519767,0.146831,0.215774,0.210843,89.0
2017-12-23,1,0.522589,0.134880,0.004158,0.194335,89.0,OKC,0.519497,0.144607,0.219424,0.208819,103.0
2017-12-30,1,0.516081,0.131743,0.003133,0.196915,104.0,CLE,0.523563,0.143126,0.216645,0.208890,101.0
2018-01-03,1,0.515490,0.131769,0.003665,0.196423,98.0,NOP,0.525211,0.144284,0.215990,0.207222,108.0
2018-01-15,1,0.513955,0.131497,0.004860,0.191429,94.0,IND,0.527762,0.142720,0.211004,0.204545,109.0
2018-01-19,1,0.516940,0.131062,0.007772,0.192256,115.0,NYK,0.530245,0.142909,0.210555,0.204839,117.0
2018-01-20,1,0.519074,0.132049,0.005589,0.194423,125.0,LAC,0.529712,0.142474,0.208466,0.208389,113.0
2018-01-30,1,0.518429,0.131304,0.003273,0.191520,129.0,GSW,0.524516,0.142671,0.214320,0.202746,99.0
2018-02-09,1,0.525593,0.131814,0.003033,0.196397,106.0,CHO,0.522033,0.139890,0.209635,0.197077,94.0
2018-02-12,1,0.525085,0.130721,0.003750,0.197714,101.0,SAS,0.520290,0.138955,0.207602,0.198206,99.0
2018-02-14,1,0.524190,0.129688,0.005714,0.197882,107.0,PHO,0.520059,0.138612,0.205822,0.198488,97.0
2018-02-23,1,0.523192,0.130617,0.003209,0.196567,81.0,POR,0.519699,0.138200,0.204839,0.197607,100.0
2018-02-24,1,0.521992,0.130139,0.003542,0.197228,97.0,DAL,0.518860,0.138295,0.203571,0.196715,90.0
2018-02-26,1,0.521485,0.131478,0.002714,0.197624,85.0,HOU,0.518363,0.138369,0.203827,0.197405,96.0
2018-03-02,1,0.522231,0.131989,0.004207,0.199883,116.0,MIN,0.519178,0.138097,0.201771,0.199056,108.0
2018-03-05,1,0.522147,0.132154,0.002223,0.199886,94.0,ORL,0.515881,0.137708,0.200593,0.197223,80.0
2018-03-13,1,0.523979,0.133432,0.003854,0.199679,110.0,DET,0.510264,0.137425,0.201521,0.193681,79.0
2018-03-15,1,0.523484,0.132235,0.004811,0.199790,116.0,PHO,0.509059,0.138260,0.201292,0.193843,88.0
2018-03-17,1,0.523010,0.132372,0.002714,0.202595,103.0,SAC,0.509097,0.138053,0.199397,0.192514,97.0
2018-03-20,1,0.521213,0.132458,0.003999,0.203271,94.0,ATL,0.508184,0.137665,0.199736,0.191816,99.0
2018-03-28,1,0.522453,0.132222,0.003797,0.203122,94.0,BOS,0.509256,0.136976,0.202682,0.190438,97.0
2018-03-30,1,0.523620,0.132435,0.002192,0.203118,107.0,MEM,0.509614,0.136879,0.202465,0.189576,97.0
2018-04-03,1,0.525961,0.132573,0.004281,0.203348,117.0,LAL,0.509834,0.136723,0.201441,0.190491,110.0
2018-04-05,1,0.526779,0.131998,0.003023,0.203673,117.0,LAC,0.509256,0.136881,0.202374,0.191554,95.0
2018-04-10,1,0.528548,0.132436,0.003541,0.202147,119.0,GSW,0.506404,0.136477,0.202535,0.191214,79.0